@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: relative;
    color: var(--color-white);
}

html::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

*::-webkit-scrollbar {
    display: none;
}

:root {
    --height-header: 70px;
    --color-white: #dadada;
    --background-while: rgba(225, 225, 225, 0.05);
    --background-black: rgba(0, 0, 0, 0.8);
    --background-modal: rgba(0, 0, 0, 0.6);
    --background-btn: rgba(0, 0, 0, 0.4);
    --primary-bg: #432275;
    --color-small: rgba(225, 225, 225, 0.5);
    --color-pink: #f12d94;
    --background-music2: #5a1eae;
    --background-music1: rgba(225, 225, 225, 0.1);
    --height-footer: 60px;
}

#app {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    position: relative;
    transition: all linear 0.1s;
}

.background {
    width: 100%;
    height: 100vh;
    background: url('./background/backroundThemes/1.jpg');
    background-size: cover;
    transition: all linear 0.5s;
}
/* SIDEBAR */

#sidebar {
    width: 20%;
    height: 100%;
    overflow: scroll;
    position: absolute;
    top: 0;
    background-color: var(--background-while);
    font-weight: 500;
}

/* LOGO */

.logo {
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    background: url('./background/backroundThemes/1.jpg');
    z-index: 9999999999;
}

.logo img {
    width: 63%;
    padding: 20px 20px 0;
}

/* SIDEBAR MAIN  */

.sidebar-container {
    width: 100%;
    margin-top: 80px;
    height: 100%;
}

.sidebar__main {
    width: 100%;
    margin-top: 10px;
    padding: 0 0 24px;
    font-size: 14.7px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar__main:nth-child(1) {
    margin-top: 100px;
}

.sidebar__main:nth-child(2) {
    margin-top: 20px;
}

.sidebar__main-item {
    padding: 8px 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.sidebar__main-item .live {
    padding: 2px 8px;
    background-color: red;
    margin-left: 10px;
    border-radius: 3px;
    font-size: 10px;
}

.sidebar__main-item.active {
    transition: all linear 0.1s;
    background-color: #e1e1e11a;
    border-left: 3px solid var(--color-pink);
}

.sidebar__main-item i,
.sidebar__main-item ion-icon {
    margin-right: 10px;
    font-size: 20px;
}

/* ZING */
#container {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

/* HEADER */

#header {
    width: 80%;
    padding: 20px 40px;
    box-shadow: 15px 5px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999999999999999999999999999;
    background: url('./background/backroundThemes/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#header .header-item {
    display: flex;
    align-items: center;
}

#header .page-action {
    flex: 0.4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-small);
}

#header .header-search {
    flex: 2;
    position: relative;
}

#header .header-search ion-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    font-size: 25px;
}

.header-search input {
    width: 100%;
    padding: 12px 0;
    background-color: #e1e1e11a;
    border: none;
    border-radius: 20px;
    padding-left: 35px;
    cursor: pointer;
    outline: none;
    color: var(--color-white);
    font-size: 15px;
}

#header .search-suggest {
    padding: 20px 14px;
    position: absolute;
    max-height: 100vh;
    top: 100%;
    left: 0;
    width: 100%;
    background: url('./background/modalThemes/modalTheme3/theme1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 0 10px 10px;
}

#header .search-suggest.hide {
    display: none;
}

/* SHOW SUGGEST FOR YOU */
.show-suggest-for-you {
    width: 100%;
    max-height: 40vh;
    overflow: scroll;
    position: relative;
}
.show-suggest-for-you::-webkit-scrollbar {
    display: none;
}

.show-suggest-for-you.hide {
    display: none;
}

.suggest-title {
    width: 100%;
    padding: 16px 0;
}

.list-suggest {
    list-style: none;
    width: 100%;
}

.list-suggest li {
    padding: 12px 0;
    font-size: 14px;
    box-sizing: border-box;
    transition: 0.1s linear all;
}

.list-suggest li:hover {
    background-color: var(--background-music1);
}

.list-suggest li .suggest-icon {
    margin: 0 8px;
    font-size: 12px;
    color: var(--color-small);
}

.list-suggest li .suggest-item {
    margin: 0 8px;
}

#header .header-options {
    justify-content: space-evenly;
    align-content: center;
    flex: 1;
    box-sizing: border-box;
}

/* SHOW SUGGEST KEYWORDS */

.show-suggest-keywords {
    overflow: scroll;
    width: 100%;
    max-height: 80vh;
    position: relative;
    padding: 10px 0;
}

.show-suggest-keywords::-webkit-scrollbar {
    display: none;
}

.show-suggest-keywords .suggest-keywords-title {
    width: 100%;
    background-color: #101f40;
}

.show-suggest-keywords .show-suggest-body {
    list-style: none;
    width: 100%;
    margin-top: 10px;
}

.show-suggest-keywords .show-suggest-body li {
    padding: 12px 0;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: all 0.1s linear;
}

.show-suggest-keywords .show-suggest-body li:hover {
    background-color: var(--background-music1);
}

.show-suggest-keywords .show-suggest-body li i {
    font-size: 12px;
    color: var(--color-small);
    margin: 0 8px;
}

.show-suggest-keywords .show-suggest-body li span:last-child {
    margin: 0px 8px;
}

/* SHOW SUGGEST SONGS */

.show-songs-suggest {
    width: 100%;
    height: 100%;
}

.show-suggest-songs {
    width: 100%;
    overflow: scroll;
    max-height: 80vh;
    position: relative;
    padding: 10px 0;
}

.show-suggest-songs .show-suggest-body {
    margin-top: 15px;
}

.show-suggest-songs::-webkit-scrollbar {
    display: none;
}

.show-songs-suggest.hide {
    display: none;
}

.show-suggest-songs .suggest-songs-title {
    width: 100%;
}

.show-suggest-songs .show-suggest-body li {
    display: flex;
    align-items: center;
    padding: 8px 0;
    margin: 4px 0;
    border-radius: 5px;
    transition: all 0.1s linear;
}

.show-suggest-songs .show-suggest-body li:hover {
    background-color: var(--background-music1);
}

.show-suggest-body-image {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: 0 8px;
    overflow: hidden;
}

.show-suggest-body-image img {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.show-suggest-body-item {
    margin: 0 8px;
}

.show-suggest-body-item p {
    font-size: 12px;
    color: var(--color-small);
    margin: 8px 0;
}

/* THEME */

.themes {
    width: 70vw;
    height: 100vh;
    border-radius: 10px;
    max-height: 100vh;
    background: url('./background/modalThemes/modalTheme3/theme1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    overflow: scroll;
    z-index: 99999999999999999999999999;
    margin: 0 20px 30px;
    transition: all linear 0.2s;
    overflow: hidden;
}

.themes::-webkit-scrollbar {
    display: none;
}

.themes-header {
    width: 97%;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    position: fixed;
}

.themes-header h2 {
    margin-left: 12px;
}

.themes.hide {
    height: 0px;
}

.themes-header button {
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

.themes-header button {
    font-size: 30px;
    color: var(--color-white);
}

.themes .themes-body {
    padding: 0 14px 16px;
    max-height: 85vh;
    overflow: scroll;
}

.themes .themes-body p {
    font-size: 12px;
    color: var(--color-small);
    margin-left: 4px;
}

.themes-body-options {
    max-width: 100%;
    height: 100%;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.themes-body-options .themes-body-options-image {
    width: 150px;
    height: 100px;
    margin: 16px 20px 16px 0;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.themes-body-options .themes-body-options-image img {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.themes-lanh-options-item img {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

/* HEADER OPTIONS */

#header .header-options .header-options-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: url('./background/modalThemes/modalTheme3/theme1.jpg');
    border-radius: 100%;
    cursor: pointer;
}

#header .header-options .header-options-item:first-child {
    margin-left: 50px;
}

#header .header-options .header-options-item.avatar {
    overflow: hidden;
    background-size: cover;
}

#header .header-options .header-options-item.avatar img {
    width: 100%;

    background-size: cover;
    background-repeat: no-repeat;
}

/* CONTENT */

#content {
    width: 100%;
    height: 100%;
    max-height: 100vh;
}

.player {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
    position: relative;
    margin-bottom: 120px;
}

.player.hide {
    display: none;
}

.player-thumb {
    width: 35%;
    height: 75%;
    max-height: 75vh;
    overflow: scroll;
    padding: 30px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-thumb::-webkit-scrollbar {
    display: none;
}

.player-thumb .cd-thumb {
    width: 90%;
    padding-top: 90%;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--color-pink);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all linear 0.3s;
}

.player-thumb .song-name {
    margin: 16px;
}

.player-thumb-toggle-play {
    padding: 10px;
    width: 50%;
    border-radius: 20px;
    background-color: var(--color-pink);
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.player-songs {
    width: 65%;
    height: 100%;
    padding: 50px 40px;
    border-left: 0.4px solid rgba(225, 225, 225, 0.05);
}

.player-songs .current-playing {
    width: 100%;
    padding: 8px 0;
}

.current-playing-body {
    padding: 8px 8px;
    margin-top: 4px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    transition: all linear 0.1s;
}

.current-playing-body:active {
    opacity: 0.8;
}

.current-playing-body-singer {
    color: var(--color-small);
    font-size: 12px;
    margin-top: 5px;
}

.current-playing-body.active {
    background-color: var(--background-music1);
}

.current-playing-body:hover {
    background-color: var(--background-music1);
}

.current-playing-body-info {
    display: flex;
    align-items: center;
    flex: 1;
}

.current-playing-body-duration {
    margin: 0 16px;
    font-size: 12px;
    color: var(--color-small);
}

.player-songs .current-playing .current-playing-title {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: var(--color-small);
}

.current-playing-body-image {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 16px;
}

.player-list-suggest {
    width: 100%;
    height: 100%;
    max-height: 45vh;
    overflow: scroll;
    margin-top: 16px;
}

.player-list-suggest::-webkit-scrollbar {
    display: none;
}

.player-list-suggest li {
    list-style: none;
}

/* MUSIC CONTROL */

.music-control {
    overflow: hidden;
    width: 100%;
    height: 80px;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.242);
    background: url('./background/backroundThemes/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all linear 0.2s;
    display: flex;
    align-items: center;
}

.music-control.hide {
    height: 0;
}

.music-control-info {
    flex: 1;
    height: 100%;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.music-control-info .music-control-info-image {
    width: 60px;
    height: 60px;
    background-image: url('./img/avatar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 0 12px;
    transition: all linear 0.3s;
}

.music-control-info .music-info-singer {
    font-size: 14px;
    color: var(--color-small);
}

.music-control-info .music-info-name {
    font-weight: 600;
    margin: 4px 0;
}

.music-control-center {
    flex: 2;
    height: 100%;
}

.music-control-center-items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.music-control-center-items .btn {
    width: 20px;
    height: 20px;
    padding: 16px;
    margin: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.music-control-center-sweek {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-control-center-sweek input {
    width: 50%;
    margin: 0 12px;
    height: 4px;
    cursor: pointer;
    outline: none;
    accent-color: var(--color-pink);
    color: var(--color-pink);
}

.btn-random.active i {
    color: var(--color-pink);
}

.btn-repeat.active i {
    color: var(--color-pink);
}

.music-control-center-sweek input::-webkit-slider-thumb {
    accent-color: var(--color-pink);
    color: var(--color-pink);
    height: 4px;
}

.music-control-center-sweek span {
    font-size: 14px;
}

.btn-next:active {
    color: var(--color-pink);
}

.btn-prev:active {
    color: var(--color-pink);
}

.btn-toggle-play {
    position: relative;
}

.btn-toggle-play .fa-circle-pause {
    display: none;
}

.btn-toggle-play.playing .fa-circle-pause {
    display: block;
}

.btn-toggle-play.playing .fa-play {
    display: none;
}

.btn-toggle-play i {
    position: absolute;
    font-size: 30px;
    color: var(--color-pink);
}

.music-control-options {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

/* PAGE ITEM */

.page-item {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    overflow: scroll;
    display: none;
}

.page-item.active {
    display: block;
}

.personal-header {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personal-avata {
    width: 160px;
    aspect-ratio: 1 / 1;
    border: none;
    border: 1px solid var(--color-pink);
    border-radius: 50%;
    overflow: hidden;
    background-position: center center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.personal-avata img {
    width: 100%;
    height: auto;
    transition: all linear 0.3s;
    scale: 100%;
}

.personal-avata img:hover {
    width: 100%;
    height: auto;
    transition: all linear 0.3s;
    scale: 130%;
}

.admin-name {
    margin: 12px 0;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Bagel Fat One', cursive;
}

.personal-header-options {
    margin: 12px 0;
    display: flex;
    border-radius: 20px;
    background-color: rgba(225, 255, 255, 0.02);
    padding: 3px;
}

.personal-header-options li {
    list-style: none;
    padding: 8px 20px;
    font-size: 12px;
    border-radius: inherit;
    transition: all 0.1s linear;
    cursor: pointer;
}

.personal-header-options li.active {
    background-color: var(--background-music1);
}

.personal-content {
    width: 100%;
    padding: 16px 40px 80px 40px;
}

.personal-content-item {
    display: none;
    padding: 8px 16px;
}

.personal-content-item.active {
    display: block;
}

.personal-content-music-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personal-content-music-btn button {
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    margin: 0 12px;
    color: #fff;
}

.personal-content-music-btn button:active {
    opacity: 0.8;
}

.personal-content-music-btn-upload {
    background: url('./background/modalThemes/modalTheme3/theme1.jpg');
}

.personal-content-music-btn-playall {
    background: url('./background/modalThemes/modalTheme3/theme0.jpg');
}

.personal-content-music-btn i {
    margin-right: 12px;
}

.personal-content-center {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personal-content-center-slider {
    width: 250px;
    height: 250px;
    border: 2px solid #fff;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 10px 5px 20px rgba(0, 0, 0, 0.5);
}

.sliders {
    display: flex;
    transition: all 0.4s linear;
}

.sliders img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.personal-content-center-playlist {
    height: 60%;
    max-height: 60vh;
    flex: 1;
    padding: 8px 40px;
    overflow: scroll;
}

.personal-title {
    font-size: 18px;
    color: #fff;
    margin-left: 16px;
}

.playlist-container {
    width: 100%;
    padding: 12px;
    margin: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist-container-item {
    width: 19%;
    aspect-ratio: 1/ 1.18;
    /* background-color: yellow */
    padding-bottom: 4px;
    border-radius: 10px 10px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    position: relative;
}

.playlist-container-item-create {
    background-image: linear-gradient(45deg, #5c1eac, #cb267b);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.playlist-container-item-create i {
    font-size: 60px;
    padding: 8px 0;
}

.playlist-container-item-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.playlist-container-item-image img {
    width: 100%;
    transition: all 0.3s linear;
}
.playlist-container-item-image:hover img {
    filter: brightness(50%);
    scale: 110%;
}

.playlist-container-item-option {
    width: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.1s linear;
}

.playlist-container-item-image:hover .playlist-container-item-option {
    width: 100%;
}

.playlist-container-item-content {
    padding: 0 2px;
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
}

.playlist-container-item-content h4 {
    transition: all 0.2s linear;
}

.playlist-container-item-content h4:hover {
    color: var(--color-pink);
}
