@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('./img/cursor.png'), auto !important;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: relative;
    color: var(--color-white);
}

html::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    display: none;
}

*::-webkit-scrollbar {
    display: none;
}

:root {
    --height-header: 70px;
    --color-white: #dadada;
    --background-while: rgba(225, 225, 225, 0.05);
    --background-black: rgba(0, 0, 0, 0.8);
    --background-modal: rgba(0, 0, 0, 0.6);
    --background-btn: rgba(0, 0, 0, 0.4);
    --primary-bg: #432275;
    --color-small: rgba(225, 225, 225, 0.5);
    --color-pink: #f12d94;
    --background-music2: #5a1eae;
    --background-music1: rgba(225, 225, 225, 0.1);
    --height-footer: 60px;
}

#app {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    position: relative;
    transition: all linear 0.1s;
}

.background {
    width: 100%;
    height: 100vh;
    background: url('./background/backroundThemes/1.jpg');
    background-size: cover;
    transition: all linear 0.5s;
}
/* SIDEBAR */

#sidebar {
    width: 20%;
    height: 100%;
    overflow: scroll;
    position: absolute;
    top: 0;
    background-color: var(--background-while);
    font-weight: 500;
}

/* LOGO */

.logo {
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    background: url('./background/backroundThemes/1.jpg');
    z-index: 9999999999;
}

.logo img {
    width: 63%;
    padding: 20px 20px 0;
}

/* SIDEBAR MAIN  */

.sidebar-container {
    width: 100%;
    margin-top: 80px;
    height: 100%;
}

.sidebar__main {
    width: 100%;
    margin-top: 10px;
    padding: 0 0 24px;
    font-size: 14.7px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar-main-item-vip {
    width: 86%;
    margin-left: 7%;
    margin-top: 30px;
    padding: 20px 8px;
    text-align: center;
    background-image: linear-gradient(117deg, #614de5, #b567d9);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.sidebar-main-item-vip .vip-update {
    margin-top: 15px;
    padding: 4px 16px;
    cursor: pointer;
    background-color: #ffdb00;
    color: black;
    border-radius: 20px;
}

.sidebar__main:nth-child(1) {
    margin-top: 100px;
}

.sidebar__main:nth-child(2) {
    margin-top: 20px;
}

.sidebar__main-item {
    padding: 8px 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.sidebar__main-item .live {
    padding: 2px 8px;
    background-color: red;
    margin-left: 10px;
    border-radius: 3px;
    font-size: 10px;
}

.sidebar__main-item.active {
    transition: all linear 0.1s;
    background-color: #e1e1e11a;
    border-left: 3px solid var(--color-pink);
}

.sidebar__main-item i,
.sidebar__main-item ion-icon {
    margin-right: 10px;
    font-size: 20px;
}

/* ZING */
#container {
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

/* HEADER */

#header {
    width: 80%;
    padding: 20px 40px;
    box-shadow: 15px 5px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999999999999999999999999999;
    background: url('./background/backroundThemes/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#header .header-item {
    display: flex;
    align-items: center;
}

#header .page-action {
    flex: 0.4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-small);
}

#header .header-search {
    flex: 2;
    position: relative;
}

#header .header-search ion-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    font-size: 25px;
}

.header-search input {
    width: 100%;
    padding: 12px 0;
    background-color: #e1e1e11a;
    border: none;
    border-radius: 20px;
    padding-left: 35px;
    cursor: pointer;
    outline: none;
    color: var(--color-white);
    font-size: 15px;
}

#header .search-suggest {
    padding: 20px 14px;
    position: absolute;
    max-height: 100vh;
    top: 100%;
    left: 0;
    width: 100%;
    background: url('./background/modalThemes/modalTheme3/theme1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 0 10px 10px;
}

#header .search-suggest.hide {
    display: none;
}

/* SHOW SUGGEST FOR YOU */
.show-suggest-for-you {
    width: 100%;
    max-height: 40vh;
    overflow: scroll;
    position: relative;
}
.show-suggest-for-you::-webkit-scrollbar {
    display: none;
}

.show-suggest-for-you.hide {
    display: none;
}

.suggest-title {
    width: 100%;
    padding: 16px 0;
}

.list-suggest {
    list-style: none;
    width: 100%;
}

.list-suggest li {
    padding: 12px 0;
    font-size: 14px;
    box-sizing: border-box;
    transition: 0.1s linear all;
}

.list-suggest li:hover {
    background-color: var(--background-music1);
}

.list-suggest li .suggest-icon {
    margin: 0 8px;
    font-size: 12px;
    color: var(--color-small);
}

.list-suggest li .suggest-item {
    margin: 0 8px;
}

#header .header-options {
    justify-content: space-evenly;
    align-content: center;
    flex: 1;
    box-sizing: border-box;
}

/* SHOW SUGGEST KEYWORDS */

.show-suggest-keywords {
    overflow: scroll;
    width: 100%;
    max-height: 80vh;
    position: relative;
    padding: 10px 0;
}

.show-suggest-keywords::-webkit-scrollbar {
    display: none;
}

.show-suggest-keywords .suggest-keywords-title {
    width: 100%;
    background-color: #101f40;
}

.show-suggest-keywords .show-suggest-body {
    list-style: none;
    width: 100%;
    margin-top: 10px;
}

.show-suggest-keywords .show-suggest-body li {
    padding: 12px 0;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: all 0.1s linear;
}

.show-suggest-keywords .show-suggest-body li:hover {
    background-color: var(--background-music1);
}

.show-suggest-keywords .show-suggest-body li i {
    font-size: 12px;
    color: var(--color-small);
    margin: 0 8px;
}

.show-suggest-keywords .show-suggest-body li span:last-child {
    margin: 0px 8px;
}

/* SHOW SUGGEST SONGS */

.show-songs-suggest {
    width: 100%;
    height: 100%;
}

.show-suggest-songs {
    width: 100%;
    overflow: scroll;
    max-height: 80vh;
    position: relative;
    padding: 10px 0;
}

.show-suggest-songs .show-suggest-body {
    margin-top: 15px;
}

.show-suggest-songs::-webkit-scrollbar {
    display: none;
}

.show-songs-suggest.hide {
    display: none;
}

.show-suggest-songs .suggest-songs-title {
    width: 100%;
}

.show-suggest-songs .show-suggest-body li {
    display: flex;
    align-items: center;
    padding: 8px 0;
    margin: 4px 0;
    border-radius: 5px;
    transition: all 0.1s linear;
}

.show-suggest-songs .show-suggest-body li:hover {
    background-color: var(--background-music1);
}

.show-suggest-body-image {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin: 0 8px;
    overflow: hidden;
}

.show-suggest-body-image img {
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.show-suggest-body-item {
    margin: 0 8px;
}

.show-suggest-body-item p {
    font-size: 12px;
    color: var(--color-small);
    margin: 8px 0;
}

/* THEME */

.themes {
    width: 70vw;
    height: 100vh;
    border-radius: 10px;
    max-height: 100vh;
    background: url('./background/modalThemes/modalTheme3/theme1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    overflow: scroll;
    z-index: 99999999999999999999999999;
    margin: 0 20px 30px;
    transition: all linear 0.2s;
    overflow: hidden;
}

.themes::-webkit-scrollbar {
    display: none;
}

.themes-header {
    width: 97%;
    height: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    position: fixed;
}

.themes-header h2 {
    margin-left: 12px;
}

.themes.hide {
    height: 0px;
}

.themes-header button {
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}

.themes-header button {
    font-size: 30px;
    color: var(--color-white);
}

.themes .themes-body {
    padding: 0 14px 16px;
    max-height: 85vh;
    overflow: scroll;
}

.themes .themes-body p {
    font-size: 12px;
    color: var(--color-small);
    margin-left: 4px;
}

.themes-body-options {
    max-width: 100%;
    height: 100%;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.themes-body-options .themes-body-options-image {
    width: 150px;
    height: 100px;
    margin: 16px 20px 16px 0;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.themes-body-options .themes-body-options-image img {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.themes-lanh-options-item img {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

/* HEADER OPTIONS */

#header .header-options .header-options-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: url('./background/modalThemes/modalTheme3/theme1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100%;
    cursor: pointer;
}

#header .header-options .header-options-item:first-child {
    margin-left: 50px;
}

#header .header-options .header-options-item.avatar {
    overflow: hidden;
    background-size: cover;
}

#header .header-options .header-options-item.avatar img {
    width: 100%;

    background-size: cover;
    background-repeat: no-repeat;
}

/* CONTENT */

#content {
    width: 100%;
    height: 100%;
    max-height: 100vh;
}

.player {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
    position: relative;
    margin-bottom: 120px;
}

.player.hide {
    display: none;
}

.player-thumb {
    width: 35%;
    height: 75%;
    max-height: 75vh;
    overflow: scroll;
    padding: 30px 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-thumb::-webkit-scrollbar {
    display: none;
}

.player-thumb .cd-thumb {
    width: 90%;
    padding-top: 90%;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--color-pink);
    background-size: cover;
    background-repeat: no-repeat;
    transition: all linear 0.3s;
}

.player-thumb .song-name {
    margin: 16px;
}

.player-thumb-toggle-play {
    padding: 10px;
    width: 50%;
    border-radius: 20px;
    background-color: var(--color-pink);
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.player-songs {
    width: 65%;
    height: 100%;
    padding: 50px 40px;
    border-left: 0.4px solid rgba(225, 225, 225, 0.05);
}

.player-songs .current-playing {
    width: 100%;
    padding: 8px 0;
}

.current-playing-body {
    padding: 8px 8px;
    margin-top: 4px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
    transition: all linear 0.1s;
}

.current-playing-body:active {
    opacity: 0.8;
}

.current-playing-body-singer {
    color: var(--color-small);
    font-size: 12px;
    margin-top: 5px;
}

.current-playing-body.active {
    background-color: var(--background-music1);
}

.current-playing-body:hover {
    background-color: var(--background-music1);
}

.current-playing-body-info {
    display: flex;
    align-items: center;
    flex: 1;
}

.current-playing-body-duration {
    margin: 0 16px;
    font-size: 12px;
    color: var(--color-small);
}

.player-songs .current-playing .current-playing-title {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: var(--color-small);
}

.current-playing-body-image {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 16px;
}

.player-list-suggest {
    width: 100%;
    height: 100%;
    max-height: 45vh;
    overflow: scroll;
    margin-top: 16px;
}

.player-list-suggest::-webkit-scrollbar {
    display: none;
}

.player-list-suggest li {
    list-style: none;
}

/* MUSIC CONTROL */

.music-control {
    overflow: hidden;
    width: 100%;
    height: 80px;
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.242);
    background: url('./background/backroundThemes/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all linear 0.2s;
    display: flex;
    align-items: center;
    z-index: 99999;
}

.music-control.hide {
    height: 0;
}

.music-control-info {
    flex: 1;
    height: 100%;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.music-control-info .music-control-info-image {
    width: 60px;
    height: 60px;
    background-image: url('./img/avatar.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 0 12px;
    transition: all linear 0.3s;
}

.music-control-info .music-info-singer {
    font-size: 14px;
    color: var(--color-small);
}

.music-control-info .music-info-name {
    font-weight: 600;
    margin: 4px 0;
}

.music-control-center {
    flex: 2;
    height: 100%;
}

.music-control-center-items {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}

.music-control-center-items .btn {
    width: 20px;
    height: 20px;
    padding: 16px;
    margin: 0 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.music-control-center-sweek {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.music-control-center-sweek input {
    width: 50%;
    margin: 0 12px;
    height: 4px;
    cursor: pointer;
    outline: none;
    accent-color: var(--color-pink);
    color: var(--color-pink);
}

.btn-random.active i {
    color: var(--color-pink);
}

.btn-repeat.active i {
    color: var(--color-pink);
}

.music-control-center-sweek input::-webkit-slider-thumb {
    accent-color: var(--color-pink);
    color: var(--color-pink);
    height: 4px;
}

.music-control-center-sweek span {
    font-size: 14px;
}

.btn-next:active {
    color: var(--color-pink);
}

.btn-prev:active {
    color: var(--color-pink);
}

.btn-toggle-play {
    position: relative;
}

.btn-toggle-play .fa-circle-pause {
    display: none;
}

.btn-toggle-play.playing .fa-circle-pause {
    display: block;
}

.btn-toggle-play.playing .fa-play {
    display: none;
}

.btn-toggle-play i {
    position: absolute;
    font-size: 30px;
    color: var(--color-pink);
}

.music-control-options {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

/* PAGE ITEM */

.page-item {
    width: 100%;
    height: 100%;
    max-height: 100vh;
    overflow: scroll;
    display: none;
}

.page-item.active {
    display: block;
}

.personal-header {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personal-avata {
    width: 160px;
    aspect-ratio: 1 / 1;
    border: none;
    border: 1px solid var(--color-pink);
    border-radius: 50%;
    overflow: hidden;
    background-position: center center;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}

.personal-avata img {
    width: 100%;
    height: auto;
    transition: all linear 0.3s;
    scale: 100%;
}

.personal-avata img:hover {
    width: 100%;
    height: auto;
    transition: all linear 0.3s;
    scale: 130%;
}

.admin-name {
    margin: 12px 0;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Bagel Fat One', cursive;
}

.personal-header-options {
    margin: 12px 0;
    display: flex;
    border-radius: 20px;
    background-color: rgba(225, 255, 255, 0.02);
    padding: 3px;
}

.personal-header-options li {
    list-style: none;
    padding: 8px 20px;
    font-size: 12px;
    border-radius: inherit;
    transition: all 0.1s linear;
    cursor: pointer;
}

.personal-header-options li.active {
    background-color: var(--background-music1);
}

.personal-content {
    width: 100%;
    padding: 16px 40px 80px 40px;
}

.personal-content-item {
    display: none;
    padding: 8px 16px;
}

.personal-content-item.active {
    display: block;
}

.personal-content-music-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personal-content-music-btn button {
    padding: 8px 20px;
    border: none;
    border-radius: 20px;
    margin: 0 12px;
    color: #fff;
}

.personal-content-music-btn button:active {
    opacity: 0.8;
}

.personal-content-music-btn-upload {
    background: url('./background/modalThemes/modalTheme3/theme1.jpg');
}

.personal-content-music-btn-playall {
    background: url('./background/modalThemes/modalTheme3/theme0.jpg');
}

.personal-content-music-btn i {
    margin-right: 12px;
}

.personal-content-center {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.personal-content-center-slider {
    width: 34%;
    aspect-ratio: 1.5 /1;
    overflow: hidden;
    display: inline-flex;
    position: relative;
    border-radius: 10px;
}

.personal-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    border-radius: 10px;
    transition: all linear 0.7s;
    aspect-ratio: 1 / 1;
}

.personal-slide-first {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    opacity: 1;
    top: 50%;
    transform: translate(50%, -50%);
    z-index: 5;
}

.personal-slide-second {
    height: 80%;
    aspect-ratio: 1 / 1;
    top: 50%;
    transform: translate(40%, -50%);
    opacity: 0.8 !important;
    z-index: 4;
}

.personal-slide-third {
    height: 60%;
    aspect-ratio: 1 / 1;
    top: 50%;
    transform: translate(30%, -50%);
    opacity: 0.6 !important;
    z-index: 3;
}

.personal-slide-four {
    height: 44%;
    opacity: 0.3 !important;
    top: 50%;
    aspect-ratio: 1 / 1;
    z-index: 2;
    transform: translate(20%, -50%);
}

.personal-slide-five {
    opacity: 0 !important;
    z-index: 1;
    aspect-ratio: 1 / 1;
    height: 44%;
    top: 50%;
    transform: translate(-20%, -50%);
}

.personal-content-center-playlist {
    height: 60%;
    max-height: 60vh;
    flex: 1;
    padding: 8px 0px 8px 50px;
    overflow: scroll;
}

.personal-title {
    font-size: 18px;
    color: #fff;
    margin-left: 16px;
}

.playlist-container {
    width: 100%;
    padding: 12px;
    margin: 32px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist-container-item {
    width: 19%;
    aspect-ratio: 1/ 1.18;
    /* background-color: yellow */
    padding-bottom: 4px;
    border-radius: 10px 10px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    position: relative;
}

.playlist-container-item-create {
    background-image: linear-gradient(45deg, #5c1eac, #cb267b);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.playlist-container-item-create i {
    font-size: 60px;
    padding: 8px 0;
}

.playlist-container-item-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.playlist-container-item-image img {
    width: 100%;
    transition: all 0.3s linear;
}
.playlist-container-item-image:hover img {
    filter: brightness(50%);
    scale: 110%;
}

.playlist-container-item-option {
    width: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.1s linear;
    opacity: 0;
}

.playlist-container-item-image:hover .playlist-container-item-option {
    width: 100%;
    opacity: 1;
}

.playlist-container-item-content {
    padding: 0 2px;
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
}

.playlist-container-item-content h4 {
    transition: all 0.1s linear;
}

.playlist-container-item-content h4:hover {
    color: var(--color-pink);
}

.mv-header {
    margin-left: 16px;
}

.mv-container {
    width: 100%;
    padding-top: 12px;
    margin: 32px 0;
    display: flex;
    justify-content: space-between;
}

.mv-container-item {
    width: 32%;
    padding-bottom: 4px;
    border-radius: 10px;
}

.mv-container-item-image {
    width: 100%;
    aspect-ratio: 1.6 /1;
    border-radius: inherit;
    overflow: hidden;
    position: relative;
}

.mv-container-item-image:hover img {
    filter: brightness(50%);
    scale: 110%;
}

.mv-container-item-image img {
    transition: all 0.3s linear;
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.mv-container-item-option {
    width: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    display: flex;
    justify-content: center;
    font-size: 24px;
    overflow: hidden;
    transition: all 0.1s linear;
    opacity: 0;
}

.mv-container-item-image:hover .mv-container-item-option {
    opacity: 1;
    width: 100%;
}

.mv-container-item-info-body h4 {
    transition: all linear 0.1s;
}

.mv-container-item-info-body h4:hover {
    color: var(--color-pink);
}

.mv-container-item-info {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 16px;
}

.mv-container-item-info-image {
    width: 35px;
    aspect-ratio: 1/ 1;
    margin-right: 12px;
    border-radius: 50%;
    overflow: hidden;
}

.mv-container-item-info-image img {
    width: 100%;
    height: 100%;
}

.mv-container-item-info p {
    font-size: 12px;
    color: var(--color-small);
    margin-top: 4px;
}

.artist-header {
    padding-left: 12px;
}

.artist-header h4 {
    font-size: 18px;
}

.artist-container {
    padding: 12px;
    display: flex;
}

.artist-item {
    flex: 1;
    padding: 0 24px;
    text-align: center;
    max-width: 20%;
}

.artist-item-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
}

.artist-item-image img {
    width: 100%;
    transition: all 0.1s linear;
}

.artist-item-options {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.artist-item-options i {
    transition: all linear 0.1s;
    font-size: 0px;
    color: var(--color-pink);
}

.artist-item-image:hover .fa-play {
    font-size: 24px;
}

.artist-item-image:hover img {
    scale: 105%;
    filter: brightness(80%);
}

.artist-item-info h4 {
    margin-top: 8px;
    transition: all 0.1s linear;
}

.artist-item-info h4:hover {
    color: var(--color-pink);
}

.artist-item-info p {
    font-size: 12px;
    color: var(--color-small);
    margin-top: 2px;
    margin-bottom: 8px;
}

.artist-item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.artist-item-content button {
    padding: 4px 16px;
    border-radius: 20px;
    border: 1px solid var(--color-small);
    color: var(--color-small);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.artist-item-content button i {
    margin-right: 8px;
    font-size: 10px;
}

.page-item.discover {
    padding-bottom: 20px;
}

.discover-slider {
    width: 100%;
    padding: 32px;
    position: relative;
    display: flex;
}

.discover-slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: rgba(225, 225, 225, 0.1);
    color: white;
    opacity: 0;
    transition: all 0.1s linear;
}

.discover-slider:hover button {
    opacity: 1;
}

.discover-slider .discover-prev-slide {
    left: 10px;
}

.discover-slider .discover-next-slide {
    position: absolute;
    right: 10px;
}

.discover-sliders {
    width: 100%;
    padding: 8px 0;
    display: inline-flex;
    align-items: center;
    transition: all linear 0.6s;
    position: relative;
    aspect-ratio: 5/1;
    overflow: hidden;
}

.discover-slider .discover-slide {
    width: 30.7%;
    position: absolute;
    margin: 0 1.333%;
    border-radius: 10px;
    transition: all linear 0.6s;
}

.discover-slide-first {
    left: 0;
    transform: translateX(0);
}

.discover-slide-second {
    left: 50%;
    transform: translateX(-54.5%);
}

.discover-slide-third {
    right: 0;
    transform: translateX(0);
}

.discover-slide-four {
    position: absolute;
    left: 50%;
    transform: translateX(-54.5%);
    opacity: 0;
}

.discover-new-release {
    padding: 16px 32px;
}

.discover-new-release-title h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.discover-new-release-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 12px 4px;
}

.discover-new-release-header span {
    color: var(--color-small);
    font-size: 14px;
}

.discover-new-release-header span i {
    padding: 0 8px;
}

.discover-new-release-header span:hover {
    color: var(--color-pink);
}

.discover-new-release-button button {
    padding: 4px 16px;
    border: none;
    border-radius: 20px;
    color: #fff;
    margin: 4px;
    font-size: 12px;
    cursor: pointer;
}

.discover-new-release-button button:first-child {
    background-color: var(--background-music2);
}

.discover-new-release-button button:last-child {
    background-color: transparent;
    border: 1px solid var(--color-small);
}

.discover-new-release-content {
    width: 100%;
}

.discover-new-release-content-item {
    padding: 20px 16px;
    display: none;
}

.discover-new-release-content-item.active {
    display: block;
}

.discover-new-release-content-item.active.music {
    display: flex;
    flex-wrap: wrap;
}

.discover-new-release-content-music-item {
    width: 33.33%;
    box-sizing: border-box;
    padding: 8px 16px;
    margin: 4px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s linear;
}

.discover-new-release-content-music-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.discover-new-release-content-music-item-image {
    width: 55px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    position: relative;
}

.discover-new-release-content-music-item-image i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    opacity: 0;
    transition: all 0.1s linear;
}

.discover-new-release-content-music-item-image-img {
    transition: all 0.1s linear;
}

.discover-new-release-content-music-item:hover .discover-new-release-content-music-item-image-img {
    filter: brightness(60%);
}

.discover-new-release-content-music-item:hover .discover-new-release-content-music-item-image i {
    opacity: 1;
}
.discover-new-release-content-music-item-image img {
    width: 100%;
    object-fit: cover;
}

.discover-new-release-content-music-item-body {
    flex: 1;
    padding: 0 12px;
    color: #fff;
    padding-left: 25px;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.discover-new-release-content-music-item-body-header {
    display: flex;
    align-items: center;
}

.discover-new-release-content-music-item-body-header .type-vip {
    margin: 0 8px;
}

.discover-new-release-content-music-item-body-header .type-free {
    display: none;
}

.discover-new-release-content-music-item-body-singer {
    font-size: 12px;
    color: var(--color-small);
    margin: 4px 0;
}

.discover-new-release-content-music-item-options {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.1s linear;
}

.discover-new-release-content-music-item:hover .discover-new-release-content-music-item-options {
    opacity: 1;
}

.discover-new-release-content-music-item-options i {
    font-size: 16px;
    color: white;
}

.discover-new-release-content-item.active.album {
    display: flex;
    flex-wrap: wrap;
}

.discover-new-release-content-album-item {
    width: 33.33%;
    padding: 8px 16px;
    margin: 4px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.discover-new-release-content-album-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.discover-new-release-content-album-item-image {
    width: 75px;
    aspect-ratio: 1 / 1;
    position: relative;
}

.discover-new-release-content-album-item-image img {
    width: 100%;
    position: absolute;
    transition: all linear 0.3s;
    border-radius: 10px;
}

.discover-new-release-content-album-item-image img:first-child {
    width: 90%;
    top: 5%;
    right: -20%;
}

.discover-new-release-content-album-item:hover .cd-rotate {
    transform: rotate(80deg);
}

.discover-new-release-content-album-item:hover .discover-new-release-content-album-item-image-img {
    transform: translateX(-10%);
}

.discover-new-release-content-album-item-body {
    flex: 1;
    padding-left: 25px;
    color: #fff;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* số dòng hiển thị */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.discover-new-release-content-album-item-body p:last-child {
    font-size: 14px;
    color: var(--color-small);
    margin: 4px 0;
}

.discover-new-release-content-album-item-options {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: all 0.1s linear;
}

.discover-new-release-content-album-item:hover .discover-new-release-content-album-item-options {
    opacity: 1;
}

.discover-new-release-content-album-item-options i {
    font-size: 16px;
    color: white;
}

.discover-friday {
    padding: 8px 32px;
}

.discover-firday-title p {
    color: #fff;
    font-size: 16px;
}

.discover-friday-container {
    width: 100%;
    padding: 20px 16px;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}

.discover-friday-cotainer-item {
    width: 25%;
    padding: 0 16px;
}

.discover-friday-cotainer-item-image {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.discover-friday-container-item-options {
    width: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.1s linear;
    opacity: 0;
}

.discover-friday-cotainer-item-image:hover .discover-friday-container-item-options {
    width: 100%;
    opacity: 1;
}

.discover-friday-container-item-options i {
    font-size: 20px;
}

.discover-friday-cotainer-item-image img {
    width: 100%;
    transition: all ease-in-out 0.5s;
}

.discover-friday-cotainer-item-image:hover img {
    scale: 110%;
    filter: brightness(50%);
}

.discover-friday-cotainer-item-info p:first-child {
    margin-top: 8px;
    margin-left: 2px;
    color: #fff;
    font-weight: 500;
}

.discover-friday-cotainer-item-info p:last-child {
    color: var(--color-small);
    font-size: 14px;
    margin-top: 6px;
}

.discover-new-music-everyday {
    width: 100%;
    padding: 20px 16px;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}

.discover-zingchart {
    width: 100%;
    padding: 32px;
}

.discover-zingchart-header {
    width: 100%;
    display: flex;
    align-items: center;
}

.discover-zingchart-header li {
    width: 33.33%;
    aspect-ratio: 4 / 1;
    padding: 0 8px;
    list-style: none;
}

.discover-zingchart-header-item {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.discover-zingchart-header-item img {
    transition: all linear 0.3s;
    width: 100%;
}

.discover-zingchart-header-item:hover img {
    scale: 110%;
    border-radius: 10px;
}

.discover-zingchart-body {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 32px 0;
}

.discover-zingchart-body li {
    list-style: none;
    width: 25%;
    padding: 0 16px;
    aspect-ratio: 1 / 1;
}

.discover-zingchart-body-item {
    width: 100%;
    height: 100%;
}

.discover-zingchart-body-item img {
    width: 100%;
    transition: all 0.1s linear;
}

.discover-zingchart-body-item:hover img {
    filter: brightness(70%);
}

.page-item.zingchart {
    padding: 60px 60px 120px 60px;
}

.zingchart-title {
    display: flex;
    color: #fff;
    align-items: center;
}

.zingchart-title h1 {
    font-size: 40px;
}

.zingchart-title i {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-pink);
    margin: 0 16px;
    font-size: 16px;
    border-radius: 50%;
}

.zingchart-content {
    width: 100%;
    padding: 16px;
    transition: all 0.2s linear;
}

.zingchart-content.zingchart-content-limit {
    width: 100%;
    padding: 16px;
    max-height: 68%;
    overflow: hidden;
}

.zingchart-content li {
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 8px 0px;
    padding-right: 32px;
    border-radius: 5px;
    border-bottom: 0.5px solid rgba(225, 225, 225, 0.05);
    transition: all 0.1s linear;
}

.zingchart-content li:hover {
    background-color: rgba(225, 225, 225, 0.05);
}

.zingchart-content-item-index {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zingchart-content-item-index h1 {
    -webkit-text-stroke: 1.5px var(--color-small);
    color: transparent;
}

.zingchart-content-item-index h1.number-one {
    -webkit-text-stroke: 1.5px rgb(116, 185, 255);
}

.zingchart-content-item-index h1.number-two {
    -webkit-text-stroke: 1.5px #4ed8a1;
}

.zingchart-content-item-index h1.number-three {
    -webkit-text-stroke: 1.5px #e84393;
}

.zingchart-content-item-body {
    display: flex;
    flex: 1;
    align-items: center;
}

.zingchart-content-item-body i {
    margin: 0 12px;
    color: var(--color-small);
}

.zingchart-content-item-body-image {
    width: 45px;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    background-color: yellow;
    overflow: hidden;
}

.zingchart-content-item-body-image img {
    width: 100%;
    height: 100%;
}

.zingchart-content-item-body-music {
    min-width: 25%;
    padding: 0 8px;
}

.zingchart-content-item-body-music p:first-child {
    font-size: 14px;
    color: #fff;
}

.zingchart-content-item-body-music p:last-child {
    font-size: 12px;
    color: var(--color-small);
}

.zingchart-content-item-body-info {
    flex: 1;
    color: var(--color-small);
    font-size: 12px;
}

.zingchart-content-item-body-duration {
    font-size: 12px;
    color: var(--color-small);
}

.see-more {
    margin: 16px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
}

.see-more-btn {
    padding: 8px 30px;
    border-radius: 20px;
    border: 1px solid rgba(225, 225, 225, 1);
    color: #fff;
    background-color: transparent;
}

.zingchart-top-week {
    width: 100%;
}

.zingchart-top-week-title h1 {
    font-size: 35px;
}

.zingchart-top-week-content {
    width: 100%;
    padding: 15px;
    /* background-color: red; */
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}

.zingchart-top-week-content-item {
    flex: 1;
    max-width: 32%;
    padding: 20px 10px;
    border-radius: 10px;
    background-color: rgba(225, 225, 225, 0.08);
}

.zingchart-top-week-content-item-title {
    display: flex;
    align-items: center;
}

.zingchart-top-week-content-item-title i {
    margin: 0 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-pink);
    display: flex;
    justify-content: center;
    align-items: center;
}

.zingchart-top-week-content-item-title h2 {
    padding-left: 20px;
}

.zingchart-top-week-content-item-body {
    padding: 10px;
    width: 100%;
}

.zingchart-top-week-content-item-body li {
    padding: 8px;
    list-style: none;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.zingchart-top-week-content-item-body li i {
    margin-right: 8px;
    color: var(--color-small);
}

.zingchart-top-week-body-index {
    padding: 0px 8px;
}

.zingchart-top-week-body-index h1 {
    -webkit-text-stroke: 1.5px var(--color-small);
    color: transparent;
}

.zingchart-top-week-body-index h1.number-one {
    -webkit-text-stroke: 1.5px rgb(116, 185, 255);
}

.zingchart-top-week-body-index h1.number-two {
    -webkit-text-stroke: 1.5px #4ed8a1;
}

.zingchart-top-week-body-index h1.number-three {
    -webkit-text-stroke: 1.5px #e84393;
}

.zingchart-top-week-body-img {
    width: 45px;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    overflow: hidden;
}

.zingchart-top-week-body-img img {
    width: 100%;
    height: 100%;
}

.zingchart-top-week-body-music {
    flex: 1;
    color: #fff;
    padding: 0 8px;
}

.zingchart-top-week-body-music p {
    max-width: 80%;

    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.zingchart-top-week-body-music p:first-child {
    font-size: 14px;
    color: #fff;
}

.zingchart-top-week-body-music p:last-child {
    font-size: 12px;
    color: var(--color-small);
}

.zingchart-top-week-btn {
    padding: 12px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zingchart-top-week-btn button {
    padding: 8px 30px;
    border-radius: 20px;
    border: 1px solid rgba(225, 225, 225, 1);
    color: #fff;
    background-color: transparent;
}
